{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<body>
    {% block styles%}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    {% endblock %}
    {% block content %}
    <div class="container">
        <h1 class="title">{{title}}</h1>
        <form>
            <input type="text" name="search_article" placeholder="Search for articles" class="form-control"><br>
            <input type="submit" value="Submit" class="btn btn-success">
        </form><br>
        <div class="row">
            <div class="col-sm-2 col-md-6">
                <h2 style="color:#16dafa;"><b><i>News Sources</i></b></h2>
                <h2>Business</h2>
                {{macro.display(business)}}
                <h2>Sports</h2>
                {{macro.display(sports)}}
                <h2>Technology</h2>
                {{macro.display(technology)}}
                <h2>Entertainment</h2>
                {{macro.display(entertainment)}}
            </div>
        </div>
    </div>
    {% endblock %}
</body>