{% extends 'base.html' %}
{% block styles%}
{{ super() }}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/news.css')}}">
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container" style="background-color:black;">
    <h1 style="color:#16dafa;">Articles </h1><br>
    <div class="row">
        <div class="col-sm-3 col-md-12">
            {% for sasa in heads %}
            <li style="color:#fff;">{{sasa.description}}</li>
            <li class="badge badge-primary" style="background-color:green">published: {{sasa.timepublished}}</li>
            <a href="{{sasa.link}}">read full article</a>
            <br>
            <img src="{{sasa.image}}" class="img-responsive">
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}