{% extends 'base.html' %}
{%block styles%}
{{ super() }}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/news.css')}}">
{% endblock %}
{% block content %}
<div class="container">
    <h1 style="color:#16dafa;">Search Results </h1><br>
    {% for newst in search %}
    <li style="color:white;">{{newst.description}}</li>
    <li class="badge badge-primary">Time published: {{newst.timepublished}}</li>
    <a href="{{newst.link}}">{{newst.link}}</a>
    <br>
    <img src="{{newst.image}}" class="img-responsive">
    {% endfor %}
</div>
{% endblock %}